header
{
	text-align: center;
	font-size: 150%;
}

nav
{
	text-align: center;
	font-size: 175%;
}

.menu
{
	transition: 1s;
}

.menu:hover
{
	transition: 0.5s;
	font-size: 110%;
}

body
{
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-size: 5%;
	background-position: 50px 30px;
	background-color: #555;
	padding: 0 8% 0 8%;
}

section
{
	position: absolute;
	top: 180px; left: 15%; right: 15%;
}

#image_accueil
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	max-width: 50%;
}

.photo_groupe
{
	width: 6%;
	height: 6%;
	float: left;
}

figure
{
	text-align: center;
	margin-bottom: 3%;
}

.galerie
{
	width: 49%;
}

#photos
{
	display: flex;
	flex-wrap: wrap;
}

#serre
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


a,a:visited
{
	color: rgb(227, 138, 42); /*hex: #E38A2AFF*/
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.bio
{
	height: 2%;
}

.textbio
{
	margin-top: 5%;
	margin-left: 10%;
}

p
{
	text-align: justify;
}

#Docs
{
	text-align: center;
	margin-top: 15%;
	font-size: 130%;
	/*margin: 25% 0 0 40%;*/
}