@import url("sources/font.css");

header
{
	text-align: center;
	background-image: url("images/logo.png");
	background-size: 5%;
	background-repeat: no-repeat;
	text-shadow: 2px 2px black;
	font-family: 'acefuturism'; 
}

h1
{
	font-size: 350%;
	color: rgb(227, 138, 42);
}

nav
{
	text-align: center;
	font-size: 175%;
}

.menu
{
	transition: 1s;
}

.menu:hover
{
	transition: 0.5s;
	font-size: 110%;
}

body
{
	/*color: rgb(200, 115, 36);*/
	color: #e69900;
	background-image: url("images/carrefour.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: #555;
	padding: 0 8% 0 8%;
	font-family: 'roboto';
}

section
{
	position: absolute;
	top: 180px; left: 15%; right: 15%;
}

#image_accueil
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	max-width: 50%;
	border-style: solid;
	border-image: linear-gradient(#4dd2ff, #ccf2ff) 30;
}

#groupe
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.photo_groupe
{
	width: 6%;
	height: 6%;
	float: left;
}

.gal
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

figcaption
{
	background-color: rgba(128, 128, 128, .25);
	border-radius: 5px;
	align-self: center;
	display: inline-block;
	padding: 4px 8px 4px 8px;
	border-radius: 10px;
	text-shadow: 1px 1px rgba(0, 0, 0, .75);
}

.galerie
{
	width: 49%;
	background-size: 110%;
	border-style: solid;
	border-color: #ccf2ff;
	border-radius: 5px;
	align-self: center;
}

#photos
{
	display: flex;
	flex-wrap: wrap;

}

#serre
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}


a,a:visited
{
	color: rgb(227, 138, 42); /*hex: #E38A2AFF*/
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.bio
{
	height: 2%;
}

.textbio
{
	/*margin-top: 5%;*/
	margin-left: 10%;
}

p
{
	text-align: justify;
	background-color: rgba(128, 128, 128, .5);
	padding: 4px 8px 4px 8px;
	border-radius: 10px;
	text-shadow: 1px 1px rgba(0, 0, 0, .75);
}

#telechargement
{
	display: flex;
	justify-content: center;
}

#Docs
{
	text-align: center;
	margin-top: 15%;
	font-size: 130%;
	display: inline-block;
}

